</div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <p>Hecho con <a href="https://code.visualstudio.com/" target="_blank">Visual Studio code</a> por Hiram Mendoza</p>
        </p>
    </div>
</footer>
</body>
</html>