a {
    color: blueviolet;
  }
  a:visited {
    color: blue;
  }
body {
    color: #555;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    h2 {
      margin-top: 1em;
      padding-top: 1em;
    }   
    h1,h2,strong {
    color: #333;
    }
 
  }

table {
    border-collapse: collapse;
    width: auto; 
    margin: 0 auto; 
    margin-top: 10px;
}

th, td {
    border: 3px solid black;
    padding: 8px; 
    text-align: left;
}

th {
    background-color: #f2f2f2;
}