<%- include('includes/head13.ejs') %>
<h2 class="title">Añadir jugador al equipo</h2>
<form action="/crear" method="POST">
    <label class="label" for="nombre">Nombre</label>
    <input class="input text" id="nombre" name="nombre">
    <label class="label" for="Posicion">Posicion:</label>
    <input class="input text" id="Posicion" name="Posicion">
    <label class="label" for="edad">Edad</label>
    <input type="number" value="10" class="input text" id="edad" name="edad">
    <label class="label" for="imagen">Imagen</label>
    <input class="input text" id="imagen" name="imagen">
    <br><br>
    <input class="button is-success" type="submit" value="Crear">
</form>
<%- include('includes/foot.ejs') %>

